.header__background_color {
  background-color: $color-primary;
}

.header__content_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__content {
  width: 80%;
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
}

.header__control_buttons {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

.header__btn {
  margin-right: 0.4em;
  cursor: pointer;
}

.header__sign-out {
  height: 2.4em !important;
  width: 2.4em !important;
  color: #868b91;
}
