.task {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.task:hover {
  background-color: #f6f6f6;
}

.task__controls {
  display: none;
}

.task:hover .task__controls {
  display: flex;
  width: 7%;
  justify-content: space-between;
  margin-right: 1.5em;
}

.task__element {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.6em;
  cursor: pointer;
  color: #7d7d7d;
}

.task__title {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.task__new-form {
  margin-top: 3%;
}
