.task {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  font-size: 1.2em;
  font-weight: initial;
  border-radius: unset;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
}

.task:hover {
  background-color: #f6f6f6;
}

.task__controls {
  display: none;
}

.task:hover .task__controls {
  display: flex;
  width: 7%;
  justify-content: space-between;
  margin-right: 1.5em;
}

.task__element {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.6em;
  color: #595959;
  cursor: pointer;
}

.task__completed {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.6em;
  color: #595959;
  text-decoration: line-through;
}

.task__title {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.task__new-form {
  margin-top: 0.8em;
  margin-bottom: 2em;
}

.task__new-form .form-control {
  border-radius: unset;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  box-shadow: none;
}
